<?xml version="1.0" encoding="UTF-8"?>
<web-app xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" xmlns="http://java.sun.com/xml/ns/javaee" xsi:schemaLocation="http://java.sun.com/xml/ns/javaee http://java.sun.com/xml/ns/javaee/web-app_2_5.xsd" id="WebApp_ID" version="2.5">
  <servlet>
    <description></description>
    <display-name>DisplayAllServlet</display-name>
    <servlet-name>DisplayAllServlet</servlet-name>
    <servlet-class>com.wipro.crossword.servlet.DisplayAllServlet</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>DisplayAllServlet</servlet-name>
    <url-pattern>/DisplayAllServlet</url-pattern>
  </servlet-mapping>
  <servlet>
    <description></description>
    <display-name>SaveCrosswordServlet</display-name>
    <servlet-name>SaveCrosswordServlet</servlet-name>
    <servlet-class>com.wipro.crossword.servlet.SaveCrosswordServlet</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>SaveCrosswordServlet</servlet-name>
    <url-pattern>/SaveCrosswordServlet</url-pattern>
  </servlet-mapping>
  <servlet>
    <description></description>
    <display-name>CheckFileServlet</display-name>
    <servlet-name>CheckFileServlet</servlet-name>
    <servlet-class>com.wipro.crossword.servlet.CheckFileServlet</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>CheckFileServlet</servlet-name>
    <url-pattern>/CheckFileServlet</url-pattern>
  </servlet-mapping>
  <servlet>
    <description></description>
    <display-name>FetchCrosswordDetailsServlet</display-name>
    <servlet-name>FetchCrosswordDetailsServlet</servlet-name>
    <servlet-class>com.wipro.crossword.servlet.FetchCrosswordDetailsServlet</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>FetchCrosswordDetailsServlet</servlet-name>
    <url-pattern>/FetchCrosswordDetailsServlet</url-pattern>
  </servlet-mapping>
  <servlet>
    <description></description>
    <display-name>FetchCrosswordDataServlet</display-name>
    <servlet-name>FetchCrosswordDataServlet</servlet-name>
    <servlet-class>com.wipro.crossword.servlet.FetchCrosswordDataServlet</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>FetchCrosswordDataServlet</servlet-name>
    <url-pattern>/FetchCrosswordDataServlet</url-pattern>
  </servlet-mapping>
  <servlet>
    <description></description>
    <display-name>UpdateQuestionsServlet</display-name>
    <servlet-name>UpdateQuestionsServlet</servlet-name>
    <servlet-class>com.wipro.crossword.servlet.UpdateQuestionsServlet</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>UpdateQuestionsServlet</servlet-name>
    <url-pattern>/UpdateQuestionsServlet</url-pattern>
  </servlet-mapping>
  <servlet>
    <description></description>
    <display-name>DeleteCrosswordServlet</display-name>
    <servlet-name>DeleteCrosswordServlet</servlet-name>
    <servlet-class>com.wipro.crossword.servlet.DeleteCrosswordServlet</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>DeleteCrosswordServlet</servlet-name>
    <url-pattern>/DeleteCrosswordServlet</url-pattern>
  </servlet-mapping>
</web-app>